mixin alphabet()
  -
    const letter1 = [
      {
        country: "Австралия",
        continent: "australia",
      },
      {
        country: "Австрия",
        continent: "europe",
      },
      {
        country: "Азербайджан",
        continent: "asia",
      },
      {
        country: "Албания",
        continent: "europe",
      },
      {
        country: "Алжир",
        continent: "africa",
      },
      {
        country: "Ангола",
        continent: "africa",
      },
      {
        country: "Андорра",
        continent: "europe",
      },
      {
        country: "Антигуа и Барбуда",
        continent: "islands",
      },
      {
        country: "Аргентина",
        continent: "america",
      },
      {
        country: "Армения",
        continent: "asia",
      },
      {
        country: "Афганистан",
        continent: "asia",
      },
    ]
  -
    const letter2 = [
      {
        country: "Багамские Острова",
        continent: "islands",
      },
      {
        country: "Бангладеш",
        continent: "asia",
      },
      {
        country: "Барбадос",
        continent: "islands",
      },
      {
        country: "Бахрейн",
        continent: "islands",
      },
      {
        country: "Белоруссия",
        continent: "europe",
      },
      {
        country: "Белиз",
        continent: "america",
      },
      {
        country: "Бельгия",
        continent: "europe",
      },
      {
        country: "Бенин",
        continent: "africa",
      },
      {
        country: "Болгария",
        continent: "europe",
      },
      {
        country: "Боливия",
        continent: "america",
      },
      {
        country: "Босния и Герцеговина",
        continent: "europe",
      },
      {
        country: "Ботсвана",
        continent: "africa",
      },
      {
        country: "Бразилия",
        continent: "america",
      },
      {
        country: "Бруней",
        continent: "asia",
      },
      {
        country: "Буркина-Фасо",
        continent: "africa",
      },
      {
        country: "Бурунди",
        continent: "africa",
      },
      {
        country: "Бутан",
        continent: "asia",
      },
    ]
  -
    const letter3 = [
      {
        country: "Вануату",
        continent: "islands",
      },
      {
        country: "Великобритания",
        continent: "europe",
      },
      {
        country: "Венгрия",
        continent: "europe",
      },
      {
        country: "Венесуэла",
        continent: "america",
      },
      {
        country: "Восточный Тимор",
        continent: "asia",
      },
      {
        country: "Вьетнам",
        continent: "asia",
      },
    ]
  -
    const letter4 = [
      {
        country: "Габон",
        continent: "africa",
      },
      {
        country: "Гаити",
        continent: "islands",
      },
      {
        country: "Гайана",
        continent: "america",
      },
      {
        country: "Гамбия",
        continent: "africa",
      },
      {
        country: "Гана",
        continent: "africa",
      },
      {
        country: "Гватемала",
        continent: "america",
      },
      {
        country: "Гвинея",
        continent: "africa",
      },
      {
        country: "Гвинея-Бисау",
        continent: "africa",
      },
      {
        country: "Германия",
        continent: "europe",
      },
      {
        country: "Гондурас",
        continent: "america",
      },
      {
        country: "Гренада",
        continent: "islands",
      },
      {
        country: "Греция",
        continent: "europe",
      },
      {
        country: "Грузия",
        continent: "asia",
      },
    ]
  -
    const letter5 = [
      {
        country: "Дания",
        continent: "europe",
      },
      {
        country: "Джибути",
        continent: "africa",
      },
      {
        country: "Доминика",
        continent: "islands",
      },
      {
        country: "Доминикана",
        continent: "islands",
      },
    ]
  -
    const letter6 = [
      {
        country: "Египет",
        continent: "africa",
      },
    ]
  -
    const letter7 = [
      {
        country: "Замбия",
        continent: "africa",
      },
      {
        country: "Зимбабве",
        continent: "africa",
      },
    ]
  -
    const letter8= [
      {
        country: "Израиль",
        continent: "asia",
      },
      {
        country: "Индия",
        continent: "asia",
      },
      {
        country: "Индонезия",
        continent: "asia",
      },
      {
        country: "Иордания",
        continent: "asia",
      },
      {
        country: "Ирак",
        continent: "asia",
      },
      {
        country: "Иран",
        continent: "asia",
      },
      {
        country: "Ирландия",
        continent: "europe",
      },
      {
        country: "Исландия",
        continent: "europe",
      },
      {
        country: "Испания",
        continent: "europe",
      },
      {
        country: "Италия",
        continent: "europe",
      },
    ]
  -
    const letter9 = [
      {
        country: "Кабо-Верде",
        continent: "africa",
      },
      {
        country: "Казахстан",
        continent: "asia",
      },
      {
        country: "Камбоджа",
        continent: "asia",
      },
      {
        country: "Камерун",
        continent: "africa",
      },
      {
        country: "Канада",
        continent: "america",
      },
      {
        country: "Катар",
        continent: "asia",
      },
      {
        country: "Кения",
        continent: "africa",
      },
      {
        country: "Кипр",
        continent: "europe",
      },
      {
        country: "Киргизия",
        continent: "asia",
      },
      {
        country: "Кирибати",
        continent: "islands",
      },
      {
        country: "Китай",
        continent: "asia",
      },
      {
        country: "Колумбия",
        continent: "america",
      },
      {
        country: " ",
        continent: "america",
      },
      ]
  -
    const letter10 = [
      {
        country: "Лаос",
        continent: "asia",
      },
      {
        country: "Латвия",
        continent: "europe",
      },
      {
        country: "Лесото",
        continent: "africa",
      },
      {
        country: "Либерия",
        continent: "africa",
      },
      {
        country: "Ливан",
        continent: "asia",
      },
      {
        country: "Ливия",
        continent: "africa",
      },
      {
        country: "Литва",
        continent: "europe",
      },
      {
        country: "Лихтенштейн",
        continent: "europe",
      },
      {
        country: "Люксембург",
        continent: "europe",
      },
    ]
  -
    const letter11 = [
      {
        country: "Маврикий",
        continent: "africa",
      },
      {
        country: "Мавритания",
        continent: "africa",
      },
      {
        country: "Мадагаскар",
        continent: "africa",
      },
      {
        country: "Малави",
        continent: "africa",
      },
      {
        country: "Малайзия",
        continent: "asia",
      },
      {
        country: "Мали",
        continent: "africa",
      },
      {
        country: "Мальдивы",
        continent: "islands",
      },
      {
        country: "Мальта",
        continent: "europe",
      },
      {
        country: "Марокко",
        continent: "africa",
      },
    ]
  -
    const letter12 = [
      {
        country: "Намибия",
        continent: "africa",
      },
      {
        country: "Науру",
        continent: "islands",
      },
      {
        country: "Непал",
        continent: "asia",
      },
      {
        country: "Нигер",
        continent: "africa",
      },
      {
        country: "Нигерия",
        continent: "africa",
      },
      {
        country: "Нидерланды",
        continent: "europe",
      },
      {
        country: "Никарагуа",
        continent: "america",
      },
      {
        country: "Новая Зеландия",
        continent: "islands",
      },
      {
        country: "Норвегия",
        continent: "europe",
      },
      {
        country: " ",
        continent: "europe",
      },
      {
        country: " ",
        continent: "europe",
      },
    ]
  -
    const letter13 = [
      {
        country: "ОАЭ",
        continent: "asia",
      },
      {
        country: "Оман",
        continent: "asia",
      },
    ]
  -
    const letter14= [
      {
        country: "Пакистан",
        continent: "asia",
      },
      {
        country: "Палау",
        continent: "islands",
      },
      {
        country: "Панама",
        continent: "america",
      },
      {
        country: "Папуа - Новая Гвинея",
        continent: "islands",
      },
      {
        country: "Парагвай",
        continent: "america",
      },
      {
        country: "Перу",
        continent: "america",
      },
      {
        country: "Польша",
        continent: "europe",
      },
      {
        country: "Португалия",
        continent: "europe",
      },
    ]
  -
    const letter15 = [
      {
        country: "Руанда",
        continent: "africa",
      },
      {
        country: "Румыния",
        continent: "europe",
      },
      {
        country: "Россия",
        continent: "europe",
      },
    ]
  -
    const letter16 = [
      {
        country: "Сальвадор",
        continent: "america",
      },
      {
        country: "Самоа",
        continent: "islands",
      },
      {
        country: "Сан-Марино",
        continent: "europe",
      },
      {
        country: "Саудовская Аравия",
        continent: "asia",
      },
      {
        country: "Сейшелы",
        continent: "islands",
      },
      {
        country: "Сенегал",
        continent: "africa",
      },
      {
        country: "Сербия",
        continent: "europe",
      },
      {
        country: "Сингапур",
        continent: "asia",
      },
      {
        country: "Сирия",
        continent: "asia",
      },
      {
        country: "Словакия",
        continent: "europe",
      },
      {
        country: "Словения",
        continent: "europe",
      },
      {
        country: "США",
        continent: "america",
      },
      {
        country: " ",
        continent: "america",
      },
    ]
  -
    const letter17 = [
      {
        country: "Таджикистан",
        continent: "asia",
      },
      {
        country: "Таиланд",
        continent: "asia",
      },
      {
        country: "Танзания",
        continent: "africa",
      },
      {
        country: "Того",
        continent: "africa",
      },
      {
        country: "Тонга",
        continent: "islands",
      },
      {
        country: "Тринидад и Тобаго",
        continent: "islands",
      },
      {
        country: "Тувалу",
        continent: "islands",
      },
      {
        country: "Тунис",
        continent: "africa",
      },
      {
        country: "Туркмения",
        continent: "asia",
      },
      {
        country: "Турция",
        continent: "asia",
      },
    ]
  -
    const letter18 = [
      {
        country: "Уганда",
        continent: "africa",
      },
      {
        country: "Узбекистан",
        continent: "asia",
      },
      {
        country: "Украина",
        continent: "america",
      },
      {
        country: "Уругвай",
        continent: "america",
      },
    ]
  -
    const letter19 = [
      {
        country: "Фиджи",
        continent: "islands",
      },
      {
        country: "Филиппины",
        continent: "islands",
      },
      {
        country: "Финляндия",
        continent: "europe",
      },
      {
        country: "Франция",
        continent: "europe",
      },
    ]
  -
    const letter20= [
      {
        country: "Хорватия",
        continent: "europe",
      },
    ]
  -
    const letter21 = [
      {
        country: "Чад",
        continent: "africa",
      },
      {
        country: "Черногория",
        continent: "europe",
      },
      {
        country: "Чехия",
        continent: "europe",
      },
      {
        country: "Чили",
        continent: "america",
      },
    ]
  -
    const letter22 = [
      {
        country: "Швейцария",
        continent: "europe",
      },
      {
        country: "Швеция",
        continent: "europe",
      },
      {
        country: "Шри-Ланка",
        continent: "asia",
      },
    ]
  -
    const letter23 = [
      {
        country: "Эквадор",
        continent: "america",
      },
      {
        country: "Эритрея",
        continent: "africa",
      },
      {
        country: "Эсватини",
        continent: "africa",
      },
      {
        country: "Эстония",
        continent: "europe",
      },
      {
        country: "Эфиопия",
        continent: "africa",
      },
    ]
  -
    const letter24 = [
      {
        country: "ЮАР",
        continent: "africa",
      },
      {
        country: "Южный Судан",
        continent: "africa",
      },
    ]
  -
    const letter25 = [
      {
        country: "Ямайка",
        continent: "islands",
      },
      {
        country: "Япония",
        continent: "asia",
      },
    ]

  .alphabet
    .alphabet__letter
      +btn({text: "A", type: "button"}).btn--letter.alphabet__button.is-active(data-letter, data-default-active)
      .alphabet__list
        each country in letter1
          p.alphabet__item(data-continent=country.continent)= country.country
    .alphabet__letter
      +btn({text: "Б", type: "button"}).btn--letter.alphabet__button.is-active(data-letter, data-default-active)
      .alphabet__list
        each country in letter2
          p.alphabet__item(data-continent=country.continent)= country.country
    .alphabet__letter
      +btn({text: "В", type: "button"}).btn--letter.alphabet__button.is-active(data-letter, data-default-active)
      .alphabet__list
        each country in letter3
          p.alphabet__item(data-continent=country.continent)= country.country
    .alphabet__letter
      +btn({text: "Г", type: "button"}).btn--letter.alphabet__button.is-active(data-letter, data-default-active)
      .alphabet__list
        each country in letter4
          p.alphabet__item(data-continent=country.continent)= country.country
    .alphabet__letter
      +btn({text: "Д", type: "button"}).btn--letter.alphabet__button.is-active(data-letter, data-default-active)
      .alphabet__list
        each country in letter5
          p.alphabet__item(data-continent=country.continent)= country.country
    .alphabet__letter
      +btn({text: "Е", type: "button"}).btn--letter.alphabet__button.is-active(data-letter, data-default-active)
      .alphabet__list
        each country in letter6
          p.alphabet__item(data-continent=country.continent)= country.country
    .alphabet__letter
      +btn({text: "A", type: "button"}).btn--letter.alphabet__button.is-active(data-letter, data-default-active)
      .alphabet__list
        each country in letter7
          p.alphabet__item(data-continent=country.continent)= country.country
    .alphabet__letter
      +btn({text: "A", type: "button"}).btn--letter.alphabet__button.is-active(data-letter, data-default-active)
      .alphabet__list
        each country in letter8
          p.alphabet__item(data-continent=country.continent)= country.country
    .alphabet__letter
      +btn({text: "A", type: "button"}).btn--letter.alphabet__button.is-active(data-letter, data-default-active)
      .alphabet__list
        each country in letter9
          p.alphabet__item(data-continent=country.continent)= country.country
    .alphabet__letter
      +btn({text: "A", type: "button"}).btn--letter.alphabet__button.is-active(data-letter, data-default-active)
      .alphabet__list
        each country in letter10
          p.alphabet__item(data-continent=country.continent)= country.country
    .alphabet__letter
      +btn({text: "A", type: "button"}).btn--letter.alphabet__button.is-active(data-letter, data-default-active)
      .alphabet__list
        each country in letter11
          p.alphabet__item(data-continent=country.continent)= country.country
    .alphabet__letter
      +btn({text: "A", type: "button"}).btn--letter.alphabet__button.is-active(data-letter, data-default-active)
      .alphabet__list
        each country in letter12
          p.alphabet__item(data-continent=country.continent)= country.country
    .alphabet__letter
      +btn({text: "A", type: "button"}).btn--letter.alphabet__button.is-active(data-letter, data-default-active)
      .alphabet__list
        each country in letter13
          p.alphabet__item(data-continent=country.continent)= country.country
    .alphabet__letter
      +btn({text: "A", type: "button"}).btn--letter.alphabet__button.is-active(data-letter, data-default-active)
      .alphabet__list
        each country in letter14
          p.alphabet__item(data-continent=country.continent)= country.country
    .alphabet__letter
      +btn({text: "A", type: "button"}).btn--letter.alphabet__button.is-active(data-letter, data-default-active)
      .alphabet__list
        each country in letter15
          p.alphabet__item(data-continent=country.continent)= country.country
    .alphabet__letter
      +btn({text: "A", type: "button"}).btn--letter.alphabet__button.is-active(data-letter, data-default-active)
      .alphabet__list
        each country in letter16
          p.alphabet__item(data-continent=country.continent)= country.country
    .alphabet__letter
      +btn({text: "A", type: "button"}).btn--letter.alphabet__button.is-active(data-letter, data-default-active)
      .alphabet__list
        each country in letter17
          p.alphabet__item(data-continent=country.continent)= country.country
    .alphabet__letter
      +btn({text: "A", type: "button"}).btn--letter.alphabet__button.is-active(data-letter, data-default-active)
      .alphabet__list
        each country in letter18
          p.alphabet__item(data-continent=country.continent)= country.country
    .alphabet__letter
      +btn({text: "A", type: "button"}).btn--letter.alphabet__button.is-active(data-letter, data-default-active)
      .alphabet__list
        each country in letter19
          p.alphabet__item(data-continent=country.continent)= country.country
    .alphabet__letter
      +btn({text: "A", type: "button"}).btn--letter.alphabet__button.is-active(data-letter, data-default-active)
      .alphabet__list
        each country in letter20
          p.alphabet__item(data-continent=country.continent)= country.country
    .alphabet__letter
      +btn({text: "A", type: "button"}).btn--letter.alphabet__button.is-active(data-letter, data-default-active)
      .alphabet__list
        each country in letter21
          p.alphabet__item(data-continent=country.continent)= country.country
    .alphabet__letter
      +btn({text: "A", type: "button"}).btn--letter.alphabet__button.is-active(data-letter, data-default-active)
      .alphabet__list
        each country in letter22
          p.alphabet__item(data-continent=country.continent)= country.country
    .alphabet__letter
      +btn({text: "A", type: "button"}).btn--letter.alphabet__button.is-active(data-letter, data-default-active)
      .alphabet__list
        each country in letter23
          p.alphabet__item(data-continent=country.continent)= country.country
    .alphabet__letter
      +btn({text: "A", type: "button"}).btn--letter.alphabet__button.is-active(data-letter, data-default-active)
      .alphabet__list
        each country in letter24
          p.alphabet__item(data-continent=country.continent)= country.country
    .alphabet__letter
      +btn({text: "A", type: "button"}).btn--letter.alphabet__button.is-active(data-letter, data-default-active)
      .alphabet__list
        each country in letter25
          p.alphabet__item(data-continent=country.continent)= country.country
